{% extends request.is_ajax|yesno:"mainsite/_blank.html,mainsite/foundation.html" %}
{% load static %}

{% block add_styles %}<link rel="stylesheet" href="{% static 'mainsite/indexstyles.css' %}">{% endblock %}
{% block content %}
<section class="video-banner">
	<!-- Video Banner -->
	<video autoplay muted loop id="banner-video">
	  <source src="{% static 'mainsite/assets/fzclip.mp4' %}" type="video/mp4"></source>
      <source src="{% static 'mainsite/assets/fzclip.webmhd.webm' %}" type="video/webm"></source>
      <source type="video/youtube" src="https://www.youtube.com/watch?v=jtQguOMLnN0" />
        Your browser doesn't support this video. If on an N version of Windows, please 
        switch to Firefox or Chrome.
	</video>
	<div class="banner-text-cont">
		<h1 class="hero-banner-text text-secondary">Clover Lane Candles</h1>
	</div>
</section>
<section class="bg-light lb-prime">
	{% include 'mainsite/includes/dividers/curvy-top.html' %}
	<div class="inner-cont text-cont">
		<h2>Wh☘lesale</h2>
		<p>
			Dear Mr. Vernon, we accept the fact that we had to sacrifice a whole saturday in detention for whatever it is we did wrong, but we think you're crazy for making us write an essay telling you who we think we are.
		</p>
		<h3>Another Header</h3>
		<p>
			You see us as you want to see us, in the simplest terms, in the most convenient definitions. But what we found out, is that each one of us is a brain, and an athlete, and a basketcase, a princess, and a criminal. Does that answer your question? Sincerely yours, The Breakfast Club.
		</p>
	</div>
</section>
<section class="bg-secondary content-2 lb-prime">
	{% include 'mainsite/includes/dividers/curvy-bottom_down.html' %}
	<div class="inner-cont text-cont homemade-cont">
		<h2>H☘memade</h2>
		<p>
			Dear Mr. Vernon, we accept the fact that we had to sacrifice a whole saturday in detention for whatever it is we did wrong, but we think you're crazy for making us write an essay telling you who we think we are. You see us as you want to see us, in the simplest terms, in the most convenient definitions. But what we found out, is that each one of us is a brain, and an athlete, and a basketcase, a princess, and a criminal. Does that answer your question? Sincerely yours, The Breakfast Club.
		</p>
	</div>
</section>
{% include 'mainsite/includes/bg/curvy-hole.html' %}
<section class="custom-cont lb-prime">
	<div class="inner-cont text-center">
        <!-- <div class="img-cont custom-img-cont">
            <img class="custom-img" src="{% static 'mainsite/assets/images/cloverlogo.png' %}">
        </div> -->
		<h1>Custom<br><span class="clover-vid-cont">☘</span>rders<br>Available</h1>
	</div>
</section>
{% endblock %}
