{% extends request.is_ajax|yesno:"mainsite/_blank.html,mainsite/foundation.html" %}
{% load static %}
{% block before_js %}{% endblock %}
{% block content %}
<div id="cart-view" class="cart-view-page">
    <section class="cart-view-header"><h2>Cart</h2></section>
    <section class="cart-body">
        <div class="cart-left">
            <table class="cart">
                <thead>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                    <th>Remove</th>
                </thead>
                <tbody>
                    <tr></tr>
                </tbody>
            </table>
        </div>
        <div class="cart-right">
            <div class="order">
                <div class="order-header">Your Order</div>
                <div class="order-body">
                    <p class="order-subtotal">
                        <span class="order-subtotal-label">Subtotal:</span>
                        <span class="dollar-sign">$</span>
                        <span class="amount">xx.xx</span>
                    </p>
                    <p class="order-tax">
                        <span class="order-tax-label">Tax:</span>
                        <span class="dollar-sign">$</span>
                        <span class="amount">xx.xx</span>
                    </p>
                    <p class="order-shipping">
                        <span class="order-shipping-label">Shipping:</span>
                        <span class="dollar-sign">$</span>
                        <span class="amount">xx.xx</span>
                    </p>
                    <p class="order-total">
                        <span class="order-total-label">Total:</span>
                        <span class="dollar-sign">$</span>
                        <span class="amount">xx.xx</span>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="cart-buttons">
        <button class="left-cart-button"><i class="fas fa-caret-left hidden"></i>Update Cart</button>
        <button class="right-cart-button">Shipping<i class="fas fa-caret-right"></i></button>
    </section>
</div>
{% endblock %}
{% block add_js %}
<script src="{% static 'mainsite/cart.js' %}"></script>
{% endblock %}